<ul class="map"
     #gameMapElem
     *ngIf="map"
     [ngClass]="['m-x-' + map.width, 'm-y-' + map.height]"
     [style.transform]="'translate(' + camera.translate.x + 'px, ' + camera.translate.y + 'px)'">
  <!--     [class.animated]="!isDragging && !isZooming"-->

  <li class="tile"
       *ngFor="let tile of map.tiles"
       [ngClass]="tile | tileCssClasses"
       (mousedown)="onTileMouseDown($event)"
       (mouseup)="onTileMouseUp($event)"
       (wheel)="onTileWheel($event)"
       (click)="onTileClick($event, tile)"
       (dblclick)="onTileDblclick($event, tile)">
    <div class="tile-yield-component" *ngIf="mapUi.infoOverlay === TileInfoOverlayId.YIELD" [yield]="tile.yield"></div>
    <div class="tile-text-component" *ngIf="mapUi.infoOverlay === TileInfoOverlayId.TEXT" [tile]="tile" [showFullInfo]="camera.zoomLevel >= 0"></div>
  </li>

</ul>

<!--<div class="game-map-column"-->
<!--     *ngFor="let x of [].constructor(map.width); let column = index;">-->

<!--  <div class="game-map-tile"-->
<!--       *ngFor="let tile of map | tilesInColumn:column+1"-->
<!--       [ngClass]="tile | tileCssClasses"-->
