<!-- For some reason overlay needs to be before map elem, otherwise it kills performance -->
<div class="overlay"
     (mousedown)="onOverlayMouseDown($event)"
     (mouseup)="onOverlayMouseUp($event)"
     (wheel)="onOverlayWheel($event)"
     (click)="onOverlayClick($event)"
     (contextmenu)="onOverlayContextmenu($event)"
     (dblclick)="onOverlayDblclick($event)">
</div>

<ul class="map" *ngIf="map">

  <li class="tile"
      *ngFor="let tile of map.tiles"
      [style.display]="tile.isVisible ? 'block' : 'none'"
      [style.top]="tile.isVisible ? tile.px.y + 'px' : ''"
      [style.left]="tile.isVisible ? tile.px.x + 'px' : ''"
      [ngClass]="tile.isVisible ? (tile | tileCssClasses:camera.tileSize) : ''">
  </li>

</ul>



<!--      [style.display]="tile.isVisible ? 'block' : 'none'"-->
<!--      [style.left]="tile.isVisible ? (tile.px.x + 'px') : ''"-->
<!--      [style.top]="tile.isVisible ? (tile.px.y + 'px') : ''"-->
<!--[style.transform]="'translate(' + camera.translate.x + 'px, ' + camera.translate.y + 'px)'"-->

<!--<div class="tile-yield-component" *ngIf="mapUi.infoOverlay === TileInfoOverlayId.YIELD" [yield]="tile.yield"></div>-->
<!--<div class="tile-text-component" *ngIf="mapUi.infoOverlay === TileInfoOverlayId.TEXT" [tile]="tile" [showFullInfo]="camera.zoomLevel >= 0"></div>-->
