<!-- MAIN MENU -->
@if (ui.screen === ScreenId.MAIN_MENU) {
  <div class="main-menu-component"></div>
}

<!-- GAMEPLAY -->
@if (ui.screen === ScreenId.GAMEPLAY) {
  <div class="map-component"></div>

  @if (ui.sidebar !== SidebarId.WORLD_BUILDER) {
    <div class="status-bar-component"></div>
    <div class="quick-links-component"></div>
  }
  @if (gameplayUi.showMinimap) {
    <div class="mini-map-component"></div>
  }

  @if (ui.sidebar === SidebarId.DEV_TOOLS) {
    <div class="dev-tools-component"></div>
    <div class="screen-center-marker-component"></div>
  }
  @if (ui.sidebar === SidebarId.WORLD_BUILDER) {
    <div class="world-builder-component"></div>
  }
}

<!-- MODALS -->
<div class="modal-overlay" [class.active]="ui.modal !== ModalId.NONE">
  @if (ui.screen === ScreenId.GAMEPLAY) {
    <div class="civic-tree-component research-tree-modal" [class.active]="ui.modal === ModalId.CIVIC_TREE"></div>
    <div class="technology-tree-component research-tree-modal" [class.active]="ui.modal === ModalId.TECH_TREE"></div>
  }

  @if (ui.modal === ModalId.IN_GAME_MENU) {
    <div class="in-game-menu-component"></div>
  }
  @if (ui.modal === ModalId.SAVE_GAME) {
    <div class="save-game-component"></div>
  }
  @if (ui.modal === ModalId.LOAD_GAME) {
    <div class="load-game-component"></div>
  }
  @if (ui.modal === ModalId.GAMEPLAY_OPTIONS_MENU) {
    <div class="game-options-menu-component"></div>
  }
  @if (ui.modal === ModalId.EXIT_GAME_CONFIRMATION) {
    <div class="exit-game-confirmation-component"></div>
  }
</div>
