<div class="game-map-viewport" [ngStyle]="gameMapViewportElemStyle">
  <div class="game-map" *ngIf="gameMap" [ngStyle]="gameMapElemStyle">
    <div class="game-map-row" [style.z-index]="gameMap.rows.length - i -1" *ngFor="let row of gameMap.rows; index as i">
      <div class="game-map-tile" [ngClass]="tile.cssClass" *ngFor="let tile of row.tiles" (wheel)="onTileWheel($event, tile)">
        <tile-yield *ngIf="ui.showTileYield" [yield]="tile.yield"></tile-yield>
        <div class="tile-info" *ngIf="ui.showTileInfo">
          <p>{{ tile.terrain.base | terrainBaseName }}</p>
          <p>{{ tile.terrain.feature | terrainFeatureName }}</p>
          <p>{{ tile.terrain.improvement | terrainImprovementName }}</p>
          <p>{{ tile.terrain.resource | terrainResourceName }}</p>
          <p>{{ tile.coords.x }}, {{ tile.coords.y }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
