<p class="used-space"
   [class.m-ok]="usedStoragePc < 75"
   [class.m-warning]="usedStoragePc >= 75 && usedStoragePc < 100"
   [class.m-error]="usedStoragePc >= 100">
  Using {{ usedStoragePc | number:'1.0-0' }}% of local storage space.
</p>

<form class="save-options" novalidate>
  <input type="text" name="saveName" [(ngModel)]="saveName">
</form>

<div class="save-details-component" [save]=""></div>

<div class="save-game-button" [class.disabled]="!canGameBeSaved()" (click)="onSaveGameClick()">Save game</div>
