<form>
  <h3>Generate map</h3>
  <label>Map size</label>
  <select name="gameMapConfigurationId" [ngModel]="gameMapConfigurationId" (change)="onGameMapConfigurationIdChange($event.target.value)">
    <option *ngFor="let gameMapConfig of GAME_MAP_SIZE_CONFIGURATIONS" [value]="gameMapConfig.id">{{ gameMapConfig.name }}</option>
  </select>
  <label>Width: <span>{{ settings.width }}</span></label>
  <input type="range" name="width" min="20" max="120" step="1" [(ngModel)]="settings.width" disabled>
  <label>Height: <span>{{ settings.height }}</span></label>
  <input type="range" name="height" min="20" max="80" step="1" [(ngModel)]="settings.height" disabled>
  <label>Continents: <span>{{ settings.continents }}</span></label>
  <input type="range" name="continents" min="1" max="10" step="1" [(ngModel)]="settings.continents" disabled>
  <label>Islands: <span>{{ settings.islands }}</span></label>
  <input type="range" name="islands" min="0" max="30" step="1" [(ngModel)]="settings.islands" disabled>
  <label>Landmass: <span>{{ settings.landmass }}</span></label>
  <input type="range" name="landmass" min="0" max="4" step="1" [(ngModel)]="settings.landmass" disabled>
  <label>World age: <span>{{ settings.worldAge }}</span></label>
  <input type="range" name="worldAge" min="0" max="2" step="1" [(ngModel)]="settings.worldAge" disabled>
  <label>Temperature: <span>{{ settings.temperature }}</span></label>
  <input type="range" name="temperature" min="0" max="2" step="1" [(ngModel)]="settings.temperature" disabled>
  <label>Rainfall: <span>{{ settings.rainfall }}</span></label>
  <input type="range" name="rainfall" min="0" max="2" step="1" [(ngModel)]="settings.rainfall" disabled>
  <button type="button" (click)="onGenerateGameMapClick()">Generate map</button>
</form>
