<!--<div class="tile-yield">-->

<!--  <div class="tile-yield-row">-->
<!--    <div class="tile-yield-cell">-->
<!--      <i [ngClass]="iconCssClass" *ngFor="let iconCssClass of iconCssClasses[5]"></i>-->
<!--    </div>-->
<!--    <div class="tile-yield-cell">-->
<!--      <i [ngClass]="iconCssClass" *ngFor="let iconCssClass of iconCssClasses[3]"></i>-->
<!--    </div>-->
<!--    <div class="tile-yield-cell">-->
<!--      <i [ngClass]="iconCssClass" *ngFor="let iconCssClass of iconCssClasses[4]"></i>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="tile-yield-row">-->
<!--    <div class="tile-yield-cell">-->
<!--      <i [ngClass]="iconCssClass" *ngFor="let iconCssClass of iconCssClasses[2]"></i>-->
<!--    </div>-->
<!--    <div class="tile-yield-cell">-->
<!--      <i [ngClass]="iconCssClass" *ngFor="let iconCssClass of iconCssClasses[0]"></i>-->
<!--    </div>-->
<!--    <div class="tile-yield-cell">-->
<!--      <i [ngClass]="iconCssClass" *ngFor="let iconCssClass of iconCssClasses[1]"></i>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
