@import '../../../../../../styles/mixins';
@import '../../../../../../styles/variables';

.status-bar-component {
  @include position-block(absolute, 0, 0, auto, 0, $z-index-hud);
  height: 28px;
  padding: 4px 5px;
  background: gray;
  box-shadow: 2px 2px 2px #0003;

  ul {
    display: flex;

    li {
      height: 20px;
      border-radius: 10px;
      background: lightgray;
      padding: 1px 3px 1px 5px;
      margin-right: 10px;
      @include disable-selection;

      .fa {
        margin-right: 5px;
      }

    }
  }
}
