<form class="filters" [formGroup]="saveHeaderListOptionsForm" novalidate>
  <label for="show-autosaves">Autosaves</label>
  <input type="checkbox" id="show-autosaves" formControlName="showAutosaves">
  <label for="sort-order">Sort by</label>
  <select id="sort-order" formControlName="sortOrder">
    <option [value]="SaveSortOrderId.NAME_ASCENDING">Name asc</option>
    <option [value]="SaveSortOrderId.NAME_DESCENDING">Name desc</option>
    <option [value]="SaveSortOrderId.DATE_ASCENDING">Date asc</option>
    <option [value]="SaveSortOrderId.DATE_DESCENDING">Date desc</option>
  </select>
</form>

<ul class="save-list">
  <li class="save-item" *ngFor="let save of filteredAndSortedSaveHeaders"
      [class.active]="isSaveGameHeaderSelected(save)"
      (click)="onSaveHeaderClick(save.uuid)"
      (dblclick)="onSaveHeaderDblClick()">{{ save.name }}</li>
</ul>

<div class="delete-button" [class.disabled]="!selectedSaveHeader" (click)="onDeleteClick()">Delete</div>

<div class="save-details-component" [save]="selectedSaveHeader"></div>

<div class="load-game-button" [class.disabled]="!selectedSaveHeader" (click)="onLoadGameClick()">Load game</div>
