<form class="filters" [formGroup]="saveListOptionsForm" novalidate>
  <label for="show-autosaves">Autosaves</label>
  <input type="checkbox" id="show-autosaves" formControlName="showAutosaves">
  <label for="sort-order">Sort by</label>
  <select id="sort-order" formControlName="sortOrder">
    <option [value]="SortOrderId.NAME_ASCENDING">Name asc</option>
    <option [value]="SortOrderId.NAME_DESCENDING">Name desc</option>
    <option [value]="SortOrderId.DATE_ASCENDING">Date asc</option>
    <option [value]="SortOrderId.DATE_DESCENDING">Date desc</option>
  </select>
</form>

<ul class="save-list">
  <li class="save-item" *ngFor="let save of filteredAndSortedSaves"
      [class.active]="isSaveGameItemSelected(save)"
      (click)="onSaveGameItemClick(save.uuid)"
      (dblclick)="onSaveGameItemDblClick()">{{ save.name }}</li>
</ul>

<div class="delete-button" [class.disabled]="!selectedSave" (click)="onDeleteClick()">Delete</div>

<div class="save-details-component" [save]="selectedSave"></div>

<div class="load-game-button" [class.disabled]="!selectedSave" (click)="onLoadGameClick()">Load game</div>
