<form>

  <h3>FPS meter</h3>
  <label><span class="clickable" (click)="fpsMeterMode = FpsMeterModeId.FRAME_TIME">Frame (ms)</span>: {{ animationFrameStats[animationFrameStats.length-1]?.frame.recent || '-' }}</label><br/>
  <label><span>Slowest frame (ms)</span>: {{ animationFrameStats[animationFrameStats.length-1]?.frame.slowest || '-' }}</label><br/>
  <label><span>Quickest frame (ms)</span>: {{ animationFrameStats[animationFrameStats.length-1]?.frame.quickest || '-' }}</label><br/>
  <label><span class="clickable" (click)="fpsMeterMode = FpsMeterModeId.AVERAGE_FRAME_TIME">Average frame (ms)</span>: {{ animationFrameStats[animationFrameStats.length-1]?.frame.average || '-' }}</label><br/>
  <label><span class="clickable" (click)="fpsMeterMode = FpsMeterModeId.FPS">FPS</span>: {{ animationFrameStats[animationFrameStats.length-1]?.fps.recent || '-' }}</label><br/>
  <label><span class="clickable" (click)="fpsMeterMode = FpsMeterModeId.AVERAGE_FPS">Average FPS</span>: {{ animationFrameStats[animationFrameStats.length-1]?.fps.average || '-' }}</label><br/>

  <ul class="frame-times">
    <li class="frame-time" *ngFor="let singleAnimationFrameStats of animationFrameStats;"
        [style.height.%]="frameElemHeightPc(singleAnimationFrameStats)"></li>
  </ul>

</form>
