<h3>FPS meter</h3>
<form>

  <button [class.active]="performanceMeterMode === PerformanceMeterModeId.FRAME"
          (click)="setMeterMode(PerformanceMeterModeId.FRAME)">
    Single frame
    @if (performanceMeterMode === PerformanceMeterModeId.FRAME) {
      ({{ averageFrame }}ms)
    }
  </button>

  <button [class.active]="performanceMeterMode === PerformanceMeterModeId.FPS"
          (click)="setMeterMode(PerformanceMeterModeId.FPS)">
    Single FPS
    @if (performanceMeterMode === PerformanceMeterModeId.FPS) {
      ({{ averageFps }})
    }
  </button>

</form>

<canvas #canvas width="360" height="120"></canvas>
