$font-family-primary: 'Calibri';
$font-family-secondary: 'Bellefair';

$in-game-menu-button-width: 300px;
$in-game-menu-button-height: 40px;

$z-index-game-map: 100;
$z-index-hud: 200;
$z-index-main-menu: 300;
$z-index-modal: 400;
$z-index-sidebar: 500;

$max-map-tiles-x: 200;
$max-map-tiles-y: 120;

$max-tile-size: 600;

// Lists for iterators

$terrain-base-land-type-list: 'grassland', 'plains', 'desert', 'tundra', 'snow';

$terrain-base-land-elevation-list: 'flat', 'hills', 'mountain';

$terrain-base-list:
  'grassland-flat', 'grassland-hills', 'grassland-mountain', 'plains-flat', 'plains-hills', 'plains-mountain',
  'desert-flat', 'desert-hills', 'desert-mountain', 'tundra-flat', 'tundra-hills', 'tundra-mountain',
  'snow-flat', 'snow-hills', 'snow-mountain', 'lake', 'coast', 'ocean';

$terrain-feature-list:
  'floodplains', 'ice', 'oasis', 'marsh', 'rainforest', 'reef', 'woods';

$terrain-resource-list:
  'bananas', 'cattle', 'copper', 'crabs', 'deer', 'fish', 'rice', 'sheep', 'stone', 'wheat',
  'aluminum', 'coal', 'horses', 'iron', 'niter', 'oil', 'uranium',
  'amber', 'citrus', 'cocoa', 'coffee', 'cotton', 'diamonds', 'dyes', 'furs', 'gypsum',
  'incense', 'ivory', 'jade', 'marble', 'mercury', 'olives', 'pearls', 'salt', 'silk',
  'silver', 'spices', 'sugar', 'tea', 'tobacco', 'truffles', 'whales', 'wine';

$off-map-resource-list:
  'cinnamon', 'cloves', 'cosmetics', 'jeans', 'perfume', 'toys';

$terrain-improvement-list:
  'airstrip', 'camp', 'farm', 'fishing-boats', 'fort', 'lumber-mill', 'mine', 'missile-silo',
  'mountain-tunnel', 'offshore-oil-rig', 'offshore-wind-farm', 'oil-well', 'pasture', 'plantation',
  'quarry', 'seaside-resort', 'seastead', 'ski-resort', 'solar-farm', 'wind-farm';

$technology-list:
  'advanced-ai', 'advanced-ballistics', 'advanced-flight', 'advanced-power-cells', 'animal-husbandry',
  'apprenticeship', 'archery', 'astrology', 'astronomy', 'ballistics', 'banking', 'bronze-working',
  'buttress', 'cartography', 'castles', 'celestial-navigation', 'chemistry', 'combined-arms', 'combustion',
  'composites', 'computers', 'construction', 'currency', 'cybernetics', 'economics', 'education', 'electricity',
  'engineering', 'flight', 'future-tech', 'guidance-systems', 'gunpowder', 'horseback-riding', 'industrialization',
  'iron-working', 'irrigation', 'lasers', 'machinery', 'masonry', 'mass-production', 'mathematics', 'metal-casting',
  'military-engineering', 'military-science', 'military-tactics', 'mining', 'nanotechnology', 'nuclear-fission',
  'nuclear-fusion', 'offworld-mission', 'plastics', 'pottery', 'predictive-systems', 'printing', 'radio', 'refining',
  'replaceable-parts', 'rifling', 'robotics', 'rocketry', 'sailing', 'sanitation', 'satellites', 'scientific-theory',
  'seasteads', 'shipbuilding', 'siege-tactics', 'smart-materials', 'square-rigging', 'stealth-technology',
  'steam-power', 'steel', 'stirrups', 'synthetic-materials', 'telecommunications', 'wheel', 'writing';

$civic-list:
  'capitalism', 'civil-engineering', 'civil-service', 'class-struggle', 'code-of-laws',
  'cold-war', 'colonialism', 'conservation', 'craftsmanship', 'cultural-hegemony', 'cultural-heritage',
  'defensive-tactics', 'diplomatic-service', 'distributed-sovereignty', 'divine-right', 'drama-and-poetry',
  'early-empire', 'environmentalism', 'exodus-imperative', 'exploration', 'feudalism', 'foreign-trade',
  'future-civic', 'games-and-recreation', 'global-warming-mitigation', 'globalization', 'guilds', 'humanism',
  'ideology', 'information-warfare', 'mass-media', 'medieval-faires', 'mercantilism', 'mercenaries',
  'military-tradition', 'military-training', 'mobilization', 'mysticism', 'nationalism', 'natural-history',
  'naval-tradition', 'near-future-governance', 'nuclear-program', 'opera-and-ballet', 'optimization-imperative',
  'political-philosophy', 'professional-sports', 'rapid-deployment', 'recorded-history', 'reformed-church',
  'scorched-earth', 'smart-power-doctrine', 'social-media', 'space-race', 'state-workforce', 'suffrage',
  'the-enlightenment',  'theology', 'totalitarianism', 'urbanization', 'venture-politics';
