$font-family-primary: 'Calibri';
$font-family-secondary: 'Bellefair';

$in-game-menu-button-width: 300px;
$in-game-menu-button-height: 40px;

$z-index-game-map: 100;
$z-index-hud: 200;
$z-index-main-menu: 300;
$z-index-modal: 400;
$z-index-sidebar: 500;

$max-map-tiles-x: 200;
$max-map-tiles-y: 120;



// Lists for iterators

$terrain-base-land-type-list: 'grassland', 'plains', 'desert', 'tundra', 'snow';

$terrain-base-land-elevation-list: 'flat', 'hills', 'mountain';

$terrain-base-list:
  'grassland-flat', 'grassland-hills', 'grassland-mountain', 'plains-flat', 'plains-hills', 'plains-mountain',
  'desert-flat', 'desert-hills', 'desert-mountain', 'tundra-flat', 'tundra-hills', 'tundra-mountain',
  'snow-flat', 'snow-hills', 'snow-mountain', 'lake', 'coast', 'ocean';

$terrain-feature-list:
  'floodplains', 'ice', 'oasis', 'marsh', 'rainforest', 'reef', 'woods';

$terrain-resource-list:
  'bananas', 'cattle', 'copper', 'crabs', 'deer', 'fish', 'rice', 'sheep', 'stone', 'wheat',
  'aluminum', 'coal', 'horses', 'iron', 'niter', 'oil', 'uranium',
  'amber', 'citrus', 'cocoa', 'coffee', 'cotton', 'diamonds', 'dyes', 'furs', 'gypsum',
  'incense', 'ivory', 'jade', 'marble', 'mercury', 'olives', 'pearls', 'salt', 'silk',
  'silver', 'spices', 'sugar', 'tea', 'tobacco', 'truffles', 'whales', 'wine';

$off-map-resource-list:
  'cinnamon', 'cloves', 'cosmetics', 'jeans', 'perfume', 'toys';

$terrain-improvement-list:
  'airstrip', 'camp', 'farm', 'fishing-boats', 'fort', 'lumber-mill', 'mine', 'missile-silo',
  'mountain-tunnel', 'offshore-oil-rig', 'offshore-wind-farm', 'oil-well', 'pasture', 'plantation',
  'quarry', 'seaside-resort', 'seastead', 'ski-resort', 'solar-farm', 'wind-farm';
