$font-family: Calibri, sans-serif;

$sidebar-width: 300px;

$in-game-menu-button-width: 300px;
$in-game-menu-button-height: 40px;

$z-index-game-map: 100;
$z-index-hud: 200;
$z-index-main-menu: 300;
$z-index-modal: 400;
$z-index-sidebar: 500;

//$tile-size: 200px
//$tile-width: $tile-size * 0.9
//$tile-height: $tile-size * 1.0
//$tile-con-size: $tile-size / 12.5

//\:root
//  --tile-size: #{$tile-size}
