@import '../../../../../../../styles/mixins';
@import '../../../../../../../styles/variables';

form {
  padding: 10px;
  @include clearfix;

  form + form {
    margin-top: 20px;
  }

  h3 {
    margin-bottom: 10px;
    @include disable-selection;
  }

  label {
    width: 100%;
    color: #2a2a2a;
    font-size: 16px;
    @include disable-selection;

    span {
      font-weight: bold;
    }
  }

  input,
  select {
    width: 100%;
  }

  input[type=text] {
    margin-bottom: 10px;
  }

  select {
    margin-bottom: 10px;
  }

  button {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;

    &[disabled] {
      cursor: not-allowed;
    }
  }

}
