//@mixin fade-in-out-based-on-active-class {
//
//  @keyframes fadein {
//    0%   { opacity: 0; }
//    50%  { opacity: 0; }
//    100%   { opacity: 1; }
//  }
//
//  @keyframes fadeout {
//    0%  { opacity: 1; }
//    50%  { opacity: 0; }
//    100%  { opacity: 0; }
//  }
//
//  transition: all 0.5s ease-in-out;
//
//  animation: fadeout 2s;
//  opacity: 0;
//
//  &.active {
//    animation: fadein 2s;
//    opacity: 1;
//  }
//
//}
