<div class="tech-tree--popup" [class.active]="ui.showTechTree">
  <h2 class="tech-tree--title">Technology tree</h2>
  <i class="tech-tree--close-button fa fa-close" (click)="onCloseButtonClick()"></i>

  <div class="tech-tree--viewport">
    <div class="tech-tree--eras">
      <div class="tech-tree--era" *ngFor="let era of TECH_TREE" [ngClass]="getEraElemClass(era)">
        <div class="tech-tree--era-technology" *ngFor="let tech of era.technologies" [ngClass]="getTechnologyElemClass(tech)">
          <div class="tech-tree--era-technology-icon"></div>
          <p class="tech-tree--era-technology-name">{{ tech.id | technologyName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
