@import '../../../styles/mixins'
@import '../../../styles/variables'

.yield-wrapper
  display: flex
  flex-direction: column
  justify-content: flex-end
  position: absolute
  bottom: 40%
  left: 15%
  height: calc((100% + 3px) * 4/10)
  width: calc(100% * 10/9 * 6/10)
  font-size: $yield-icon-size
  line-height: $yield-icon-size

  .yield-row
    display: flex
    flex-basis: 50%
    align-items: center

    .yield-cell
      flex-basis: 33.33%

      .fa
        width: $yield-icon-size
        height: $yield-icon-size
        text-shadow: 0 0 1px black

      .fa-leaf
        color: forestgreen

      .fa-cog
        color: darkorange

      .fa-btc
        color: gold

      .fa-flask
        color: royalblue

      .fa-music
        color: purple

      .fa-fire
        color: lightskyblue

      .fa-bolt
        color: lightgoldenrodyellow

      .fa-suitcase
        color: rebeccapurple
