<!-- Tried making it only UL + LIs, yet for some reason it renders much slower when scrolling -->

<div class="game-map"
     #gameMapElem
     *ngIf="gameMap"
     [ngClass]="'m-x-' + gameMap?.columns?.length"
     [class.animated]="!isDragging && !isZooming"
     [style.transform]="'translate(' + camera.translate.x + 'px, ' + camera.translate.y + 'px)'">

  <div class="game-map-column"
       *ngFor="let column of gameMap.columns; index as colNumber;"
       [style.left.px]="calcColumnStyleLeft(colNumber)">

    <div class="game-map-tile"
         *ngFor="let tile of column.tiles;"
         [ngClass]="tile.cssClasses"
         (wheel)="onTileWheel($event)"
         (click)="onTileClick($event, tile)"
         (dblclick)="onTileDblclick($event, tile)"
         (contextmenu)="onTileContextmenu($event, tile)"
         (mousedown)="onTileMouseDown($event)"
         (mouseup)="onTileMouseUp($event)">
      <div class="tile-yield-component" *ngIf="ui.tileOverlay === TileOverlayId.YIELD" [yield]="tile.yield"></div>
      <div class="tile-text-component" *ngIf="ui.tileOverlay === TileOverlayId.TEXT" [tile]="tile" [showFullInfo]="camera.zoomLevel >= 0"></div>
    </div>

  </div>

</div>
