<!-- Tried making it only UL + LIs, yet for some reason it renders much slower when scrolling -->

<div class="game-map" #gameMapElem *ngIf="gameMap" [class.animated]="!isDragging" [ngStyle]="calcGameMapElemStyle()">
  <div class="game-map-row" [style.z-index]="gameMap.rows.length - i -1" *ngFor="let row of gameMap.rows; index as i">
    <div class="game-map-tile" [ngClass]="tile.cssClass" *ngFor="let tile of row.tiles"
         (wheel)="onTileWheel($event)"
         (click)="onTileClick($event, tile)"
         (dblclick)="onTileDblclick($event, tile)"
         (mousedown)="onTileMouseDown($event)"
         (mouseup)="onTileMouseUp($event)">
      <div class="tile-yield-component" *ngIf="ui.tileOverlay === TileOverlayId.YIELD" [yield]="tile.yield"></div>
      <div class="tile-text-component" [showFullInfo]="camera.zoomLevel >= 0" *ngIf="ui.tileOverlay === TileOverlayId.TEXT" [tile]="tile"></div>
    </div>
  </div>
</div>
