@import './../../../../../../styles/mixins';
@import './../../../../../../styles/variables';

.strategic-view-component {

  @include position-block(absolute, 0, 0, 0, 0, $z-index-game-map);
  .game-map {

    .game-map-row {
      display: flex;
      position: relative;

      &:nth-child(2n) {
        left: calc(var(--tile-size) * 0.9 / 2);
      }

      .game-map-tile {
        flex: calc(var(--tile-size) * 0.9) 0 0;
        height: var(--tile-size);
        text-align: center;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        background-position-x: center !important;
        background-position-y: center !important;
        background-size: 105px 115px !important;
        margin-bottom: calc((var(--tile-size) / -4) - 1px);
        @include disable-selection;
        position: relative;

        &:hover {
          opacity: .95;
        }

        &.m-terrain-grassland {
          background: url('../../../../../../assets/images/terrain/grassland-flat.png');
        }

        &.m-terrain-grassland-hills {
          background: url('../../../../../../assets/images/terrain/grassland-hills.png');
        }

        &.m-terrain-grassland-mountain {
          background: url('../../../../../../assets/images/terrain/grassland-mountain.png');
        }

        &.m-terrain-plains {
          background: url('../../../../../../assets/images/terrain/plains-flat.png');
        }

        &.m-terrain-plains-hills {
          background: url('../../../../../../assets/images/terrain/plains-hills.png');
        }

        &.m-terrain-plains-mountain {
          background: url('../../../../../../assets/images/terrain/plains-mountain.png');
        }

        &.m-terrain-desert {
          background: url('../../../../../../assets/images/terrain/desert-flat.png');
        }

        &.m-terrain-desert-hills {
          background: url('../../../../../../assets/images/terrain/desert-hills.png');
        }

        &.m-terrain-desert-mountain {
          background: url('../../../../../../assets/images/terrain/desert-mountain.png');
        }

        &.m-terrain-tundra {
          background: url('../../../../../../assets/images/terrain/tundra-flat.png');
        }

        &.m-terrain-tundra-hills {
          background: url('../../../../../../assets/images/terrain/tundra-hills.png');
        }

        &.m-terrain-tundra-mountain {
          background: url('../../../../../../assets/images/terrain/tundra-mountain.png');
        }

        &.m-terrain-snow {
          background: url('../../../../../../assets/images/terrain/snow-flat.png');
        }

        &.m-terrain-snow-hills {
          background: url('../../../../../../assets/images/terrain/snow-hills.png');
        }

        &.m-terrain-snow-mountain {
          background: url('../../../../../../assets/images/terrain/snow-mountain.png');
        }

        &.m-terrain-lake {
          background: url('../../../../../../assets/images/terrain/lake.png');
        }

        &.m-terrain-coast {
          background: url('../../../../../../assets/images/terrain/coast.png');
        }

        &.m-terrain-ocean {
          background: url('../../../../../../assets/images/terrain/ocean.png');
        }

      }
    }
  }
}
