@import './../../../../../../styles/mixins';
@import './../../../../../../styles/variables';

.strategic-view-component {
  @include position-block(absolute, 0, 0, 0, 0, $z-index-game-map);

  .game-map {

    &.animated {
      transition: 0.5s all cubic-bezier(0.4, 0, 0.15, 1);
    }

    // --------------------------
    // Basic row and tile styling
    // --------------------------
    .game-map-row {
      display: flex;
      position: relative;

      @for $i from 0 through ($max-map-height - 1) {
        &:nth-child(#{$i}) {
          z-index: $max-map-height - $i;  // This makes all of hexagon area hoverable
        }
      }

      &:nth-child(2n+0) {
        left: calc(var(--tile-size) * 0.9 / 2);
      }

      .game-map-tile {
        flex: calc(var(--tile-size) * 0.9) 0 0;
        height: var(--tile-size);
        text-align: center;
        background-size: 180% 120%;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        margin-bottom: calc((var(--tile-size) / -4) - 1px);
        @include disable-selection;
        position: relative;

        &:hover {
          opacity: .95;
        }

      }
    }

    // ------------------------------------------------------------------------------------------------
    // Make terrain background flow through tiles (since `background-attachment: fixed` is not working)
    // ------------------------------------------------------------------------------------------------
    .game-map-row {

      &:nth-child(2n+0) {
        .game-map-tile {
          @for $i from 0 through ($max-map-width - 1) {
            &.m-x-#{$i} {
              background-position-x: 62.5% - ($i * 100%);
            }
          }
        }
      }

      &:nth-child(2n+1) {
        .game-map-tile {
          @for $i from 0 through ($max-map-width - 1) {
            &.m-x-#{$i} {
              background-position-x: -$i * 100%;
            }
          }
        }
      }

      .game-map-tile {
        @for $i from 0 through ($max-map-height - 1) {
          &.m-y-#{$i} {
            background-position-y: -$i * 226%;
          }
        }
      }

    }

    // ----------------------------
    // Terrain, features, resources
    // ----------------------------
    .game-map-row {

      .game-map-tile {

        // Base terrain texture
        &[class*='m-base-grassland'] { background-image: url('../../../../../../assets/game-map/terrain/textures/grassland.png'); }
        &[class*='m-base-plains']    { background-image: url('../../../../../../assets/game-map/terrain/textures/plains.png'); }
        &[class*='m-base-desert']    { background-image: url('../../../../../../assets/game-map/terrain/textures/desert.png'); }
        &[class*='m-base-tundra']    { background-image: url('../../../../../../assets/game-map/terrain/textures/tundra.png'); }
        &[class*='m-base-snow']      { background-image: url('../../../../../../assets/game-map/terrain/textures/snow.png'); }
        &.m-base-lake,
        &.m-base-coast { background-image: url('../../../../../../assets/game-map/terrain/textures/coast.png'); }
        &.m-base-ocean { background-image: url('../../../../../../assets/game-map/terrain/textures/ocean.png'); }

        &:before {
          content: '';
          display: block;
          @include position-block(absolute, 0, 0, 0, 0);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }

        // Hills
        &.m-base-grassland-hills { &:before { background-image: url('../../../../../../assets/game-map/terrain/hills/grassland-hills-1.webp'); } }
        &.m-base-plains-hills    { &:before { background-image: url('../../../../../../assets/game-map/terrain/hills/plains-hills-1.webp'); } }
        &.m-base-desert-hills    { &:before { background-image: url('../../../../../../assets/game-map/terrain/hills/desert-hills-1.webp'); } }
        &.m-base-tundra-hills    { &:before { background-image: url('../../../../../../assets/game-map/terrain/hills/tundra-hills-1.webp'); } }
        &.m-base-snow-hills      { &:before { background-image: url('../../../../../../assets/game-map/terrain/hills/snow-hills-1.webp'); } }

        // Woods, Rainforest
        &.m-feature-woods { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/woods.webp'); } }
        &.m-feature-rainforest { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/rainforest.webp'); } }

        // Hills + Woods, Rainforest
        &.m-feature-woods {
          &.m-base-grassland-hills { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/woods.webp'), url('../../../../../../assets/game-map/terrain/hills/grassland-hills-1.webp'); } }
          &.m-base-plains-hills    { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/woods.webp'), url('../../../../../../assets/game-map/terrain/hills/plains-hills-1.webp'); } }
          &.m-base-desert-hills    { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/woods.webp'), url('../../../../../../assets/game-map/terrain/hills/desert-hills-1.webp'); } }
          &.m-base-tundra-hills    { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/woods.webp'), url('../../../../../../assets/game-map/terrain/hills/tundra-hills-1.webp'); } }
          &.m-base-snow-hills      { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/woods.webp'), url('../../../../../../assets/game-map/terrain/hills/snow-hills-1.webp'); } }
        }
        &.m-feature-rainforest {
          &.m-base-grassland-hills { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/rainforest.webp'), url('../../../../../../assets/game-map/terrain/hills/grassland-hills-1.webp'); } }
          &.m-base-plains-hills    { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/rainforest.webp'), url('../../../../../../assets/game-map/terrain/hills/plains-hills-1.webp'); } }
          &.m-base-desert-hills    { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/rainforest.webp'), url('../../../../../../assets/game-map/terrain/hills/desert-hills-1.webp'); } }
          &.m-base-tundra-hills    { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/rainforest.webp'), url('../../../../../../assets/game-map/terrain/hills/tundra-hills-1.webp'); } }
          &.m-base-snow-hills      { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/rainforest.webp'), url('../../../../../../assets/game-map/terrain/hills/snow-hills-1.webp'); } }
        }

        // Mountains
        &.m-base-grassland-mountain { &:before { background-image: url('../../../../../../assets/game-map/terrain/mountain/mountain-1.webp'); } }
        &.m-base-plains-mountain    { &:before { background-image: url('../../../../../../assets/game-map/terrain/mountain/mountain-1.webp'); } }
        &.m-base-desert-mountain    { &:before { background-image: url('../../../../../../assets/game-map/terrain/mountain/mountain-1.webp'); } }
        &.m-base-tundra-mountain    { &:before { background-image: url('../../../../../../assets/game-map/terrain/mountain/mountain-1.webp'); } }
        &.m-base-snow-mountain      { &:before { background-image: url('../../../../../../assets/game-map/terrain/mountain/mountain-1.webp'); } }

        // Floodplains, Marsh, Oasis, Reef, Ice
        &.m-feature-floodplains { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/floodplains.webp'); } }
        &.m-feature-marsh { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/marsh.webp'); } }
        &.m-feature-oasis { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/oasis.webp'); } }
        &.m-feature-reef { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/reef.webp'); } }
        &.m-feature-ice { &:before { background-image: url('../../../../../../assets/game-map/terrain/features/ice-1.webp'); } }

        // Resources
        @each $resource in $terrain-resources-list {
          &.m-resource-#{$resource} {
            &:after {
              content: '';
              display: block;
              @include size(100%);
              @include position-block(relative, calc(var(--tile-size) * -0.1), 0, 0, 0);
              background: url('../../../../../../assets/icons/terrain/resources/#{$resource}.webp') no-repeat;
              background-position-x: center;
              background-position-y: bottom;
              background-size: calc(var(--tile-size) * 0.2 + 4px);
            }
          }
        }

      }

    }

  }
}

//&.selected {
//  &:after {
//    content: '';
//    position: absolute;
//    left: 0;
//    @include size(100%);
//    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 35%, rgb(203 0 255) 130%);
//  }
//}
