<div class="game-map-viewport" [ngStyle]="gameMapViewportElemStyle">
  <div class="game-map" *ngIf="gameMap" [ngStyle]="gameMapElemStyle">
    <div class="game-map-row" [style.z-index]="gameMap.rows.length - i -1" *ngFor="let row of gameMap.rows; index as i">
      <div class="game-map-tile" [ngClass]="tile.cssClass" *ngFor="let tile of row.tiles" (wheel)="onTileWheel($event, tile)">
        <tile-yield *ngIf="ui.tileOverlay === TileOverlayId.YIELD" [yield]="tile.yield"></tile-yield>
        <tile-text *ngIf="ui.tileOverlay === TileOverlayId.TEXT" [tile]="tile"></tile-text>
      </div>
    </div>
  </div>
</div>
