<form>
  <h3>Auto zoom (mouse wheel)</h3>
  <label>Zoom level: <span>{{ camera.zoomLevel }}</span></label>
  <input type="range" name="zoomLevel" [min]="CAMERA_MIN_ZOOM_LEVEL" [max]="CAMERA_MAX_ZOOM_LEVEL" step="1"
         [ngModel]="camera.zoomLevel" (ngModelChange)="onZoomLevelChange($event)">

  <h3>Manual zoom (override)</h3>
  <label>Tile size (px): <span>{{ camera.tileSize }}</span></label>
  <input type="range" name="tileSize" [min]="CAMERA_MIN_TILE_SIZE" [max]="CAMERA_MAX_TILE_SIZE" [step]="CAMERA_TILE_SIZE_STEP"
         [ngModel]="camera.tileSize" (ngModelChange)="onTileSizeChange($event)">

  <label>Translate X (px): <span>{{ camera.translate.x }}</span></label>
  <input type="number" name="translateX" [ngModel]="camera.translate.x" (ngModelChange)="onTranslateXChange($event)">
  <label>Translate Y (px): <span>{{ camera.translate.y }}</span></label>
  <input type="number" name="translateY" [ngModel]="camera.translate.y" (ngModelChange)="onTranslateYChange($event)">

  <button type="button" class="float-right" (click)="onResetCameraClick()">Reset camera</button>
</form>
