@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.dev-tools-component {
  @include position-block(absolute, 0, 0, 0, auto, $z-index-sidebar);
  width: 380px;
  background: rgba(48, 108, 48, 0.65);
  overflow-y: auto;
}
