@import '../../../styles/mixins';
@import '../../../styles/variables';

.map-component {
  @include position-block(absolute, 0, 0, 0, 0, $z-index-game-map);

  .overlay {
    @include position-block(absolute, 0, 0, 0, 0, 3);
    background: transparent;
  }

  canvas {
    @include position-block(absolute, 0, 0, 0, 0, 2);
  }

  .map {
    @include position-block(absolute, 0, 0, 0, 0, 1);
    display: block;
  }
}

.tile {
  display: block;
  position: absolute;
  background-size: 180% 120%;

  // Dimensions
  @for $size from 1 through $max-tile-size {
    &.m-size-#{$size} {
      width: #{$size * 0.9}px;
      height: #{$size}px;
      //clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      clip-path: polygon(
          #{$size * 0.45}px 0,
          #{$size * 0.90}px #{$size * 0.25}px,
          #{$size * 0.90}px #{$size * 0.75}px,
          #{$size * 0.45}px #{$size}px,
          0 #{$size * 0.75}px,
          0 #{$size * 0.25}px
      );
    }
  }

  // Make terrain background flow through tiles (since `background-attachment: fixed` is not working)
  @for $i from 0 through ($max-map-tiles-x - 1) {
    &.m-x-#{$i} {
      background-position-x: $i * 125%;
    }
    &.m-odd {
      &.m-x-#{$i} {
        background-position-x: $i * 125% + 62.5%;
      }
    }
  }

  @for $i from 0 through ($max-map-tiles-y - 1) {
    &.m-y-#{$i} {
      background-position-y: -$i * 226%;
    }
  }

  // Terrain, features, resources base
  &:before {
    content: '';
    display: block;
    @include position-block(absolute, 0, 0, 0, 0);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  // Base terrain texture. Based on the land type.
  &[class*='m-base-grassland'] {
    background-image: url('/assets/game-map/terrain/textures/grassland.png');
  }

  &[class*='m-base-plains'] {
    background-image: url('/assets/game-map/terrain/textures/plains.png');
  }

  &[class*='m-base-desert'] {
    background-image: url('/assets/game-map/terrain/textures/desert.png');
  }

  &[class*='m-base-tundra'] {
    background-image: url('/assets/game-map/terrain/textures/tundra.png');
  }

  &[class*='m-base-snow'] {
    background-image: url('/assets/game-map/terrain/textures/snow.png');
  }

  &.m-base-lake,
  &.m-base-coast {
    background-image: url('/assets/game-map/terrain/textures/coast.png');
  }

  &.m-base-ocean {
    background-image: url('/assets/game-map/terrain/textures/ocean.png');
  }

  // Hills. Example: `m-base-desert-hills-2`
  @each $land-type in $terrain-base-land-type-list {
    @for $variation from 1 through 3 {
      &.m-base-#{$land-type}-hills-#{$variation} {
        &:before {
          background-image: url('/assets/game-map/terrain/hills/#{$land-type}-hills-#{$variation}.webp');
        }
      }
    }
  }

  // Mountains. Example: `m-base-snow-mountain-3`
  @each $land-type in $terrain-base-land-type-list {
    @for $variation from 1 through 5 {
      &.m-base-#{$land-type}-mountain-#{$variation} {
        &:before {
          background-image: url('/assets/game-map/terrain/mountain/mountain-#{$variation}.webp');
        }
      }
    }
  }

  // Woods. Example: `m-feature-woods-1`
  @for $variation from 1 through 1 {
    &.m-feature-woods-#{$variation} {
      &:before {
        background-image: url('/assets/game-map/terrain/features/woods-#{$variation}.webp');
      }
    }
  }

  // Rainforest. Example: `m-feature-rainforest-1`
  @for $variation from 1 through 1 {
    &.m-feature-rainforest-#{$variation} {
      &:before {
        background-image: url('/assets/game-map/terrain/features/rainforest-#{$variation}.webp');
      }
    }
  }

  // Floodplains. Example: `m-feature-floodplains-1`
  @for $variation from 1 through 1 {
    &.m-feature-floodplains-#{$variation} {
      &:before {
        background-image: url('/assets/game-map/terrain/features/floodplains-#{$variation}.webp');
      }
    }
  }

  // Marsh. Example: `m-feature-marsh-1`
  @for $variation from 1 through 1 {
    &.m-feature-marsh-#{$variation} {
      &:before {
        background-image: url('/assets/game-map/terrain/features/marsh-#{$variation}.webp');
      }
    }
  }

  // Oasis. Example: `m-feature-oasis-1`
  @for $variation from 1 through 1 {
    &.m-feature-oasis-#{$variation} {
      &:before {
        background-image: url('/assets/game-map/terrain/features/oasis-#{$variation}.webp');
      }
    }
  }

  // Reef. Example: `m-feature-reef-1`
  @for $variation from 1 through 1 {
    &.m-feature-reef-#{$variation} {
      &:before {
        background-image: url('/assets/game-map/terrain/features/reef-#{$variation}.webp');
      }
    }
  }

  // Ice. Example: `m-feature-ice-1`
  @for $variation from 1 through 1 {
    &.m-feature-ice-#{$variation} {
      &:before {
        background-image: url('/assets/game-map/terrain/features/ice-#{$variation}.webp');
      }
    }
  }

  // Woods ON Hills
  @each $terrain-base in $terrain-base-land-type-list {
    @for $woods-variation from 1 through 1 {
      @for $hills-variation from 1 through 3 {
        &.m-feature-woods-#{$woods-variation} {
          &.m-base-#{$terrain-base}-hills-#{$hills-variation} {
            &:before {
              $woodsUrl: '/assets/game-map/terrain/features/woods-#{$woods-variation}.webp';
              $hillsUrl: '/assets/game-map/terrain/hills/#{$terrain-base}-hills-#{$hills-variation}.webp';
              background-image: url($woodsUrl), url($hillsUrl);
            }
          }
        }
      }
    }
  }

  // Rainforest ON Hills
  @each $terrain-base in $terrain-base-land-type-list {
    @for $rainforest-variation from 1 through 1 {
      @for $hills-variation from 1 through 3 {
        &.m-feature-rainforest-#{$rainforest-variation} {
          &.m-base-#{$terrain-base}-hills-#{$hills-variation} {
            &:before {
              $woodsUrl: '/assets/game-map/terrain/features/rainforest-#{$rainforest-variation}.webp';
              $hillsUrl: '/assets/game-map/terrain/hills/#{$terrain-base}-hills-#{$hills-variation}.webp';
              background-image: url($woodsUrl), url($hillsUrl);
            }
          }
        }
      }
    }
  }

  // Resources. Example: `m-resource-amber`
  @each $resource in $terrain-resource-list {
    &.m-resource-#{$resource} {

      // Base
      &:after {
        content: '';
        display: block;
        @include size(100%);
        background: url('/assets/icons/terrain/resources/#{$resource}.webp') no-repeat;
        background-position-x: center;
        background-position-y: bottom;
      }

      // Resource icon location
      @for $size from 1 through $max-tile-size {
        &.m-size-#{$size} {
          &:after {
            @include position-block(relative, #{$size * -0.1}px, 0, 0, 0);
            background-size: #{($size * 0.2) + 4}px;
          }
        }
      }

    }
  }

}
