<h2 class="title">Civic tree</h2>
<i class="close-button fa fa-close" (click)="onCloseButtonClick()"></i>
<div class="tree-viewport">
  <ul class="eras">
    <li class="era" *ngFor="let era of CIVIC_TREE" [ngClass]="era | civicTreeEraElemClass">
      <div class="research-item" *ngFor="let civic of era.civics" [ngClass]="civic | researchItemElemClass">
        <div class="research-item-icon" [ngClass]="CIVIC_SET[civic.id].ui.class"></div>
        <p class="research-item-name">{{ CIVIC_SET[civic.id].ui.name }}</p>
      </div>
    </li>
  </ul>
</div>
