@import '../../../../../../styles/mixins';
@import '../../../../../../styles/variables';

$size: 3px;
$color: red;

.viewport-center-marker {
  position: fixed;
  left: calc(50% - #{$size});
  top: calc(50% - #{$size});
  z-index: 9999;
  width: $size * 2;
  height: $size * 2;
  border-radius: $size;
  background: transparent;
  border: 2px solid $color;
}
