<form>
  <h3>Auto zoom (mouse wheel)</h3>
  <label>Zoom level: <span>{{ camera.zoomLevel }}</span></label>
  <input type="range" name="tileSize" min="-10" max="10" step="1" disabled [ngModel]="camera.zoomLevel">

  <h3>Manual zoom (override)</h3>
  <label>Tile size (px): <span>{{ camera.tileSize }}</span></label>
  <input type="range" name="tileSize" min="10" max="300" step="10"
         [ngModel]="camera.tileSize" (ngModelChange)="onTileSizeChange($event)" disabled>
  <label>Perspective (px): <span>{{ camera.perspective }}</span></label>
  <input type="range" name="perspective" min="100" max="10000" step="100"
         [ngModel]="camera.perspective" (ngModelChange)="onPerspectiveChange($event)">
  <label>RotateX (deg): <span>{{ camera.rotateX }}</span></label>
  <input type="range" name="rotateX" min="0" max="75" step="1"
         [ngModel]="camera.rotateX" (ngModelChange)="onRotateXChange($event)">
  <label>Scale: <span>{{ camera.scale }}</span></label>
  <input type="range" name="scale" min="0.3" max="3" step=".01"
         [ngModel]="camera.scale" (ngModelChange)="onScaleChange($event)">
  <button type="button" (click)="onResetCameraClick()">Reset camera</button>
</form>
