<form>
  <h3>Generate map</h3>

  <label>Map size</label>
  <select name="mapConfigurationId" [ngModel]="mapSizeId" (change)="onMapSizeIdChange($event.target.value)">
    @for (mapSizeSettings of MAP_SIZE_SETTINGS_LIST; track mapSizeSettings.id) {
      <option [value]="mapSizeSettings.id">{{ mapSizeSettings.name }}</option>
    }
  </select>

  <label>Seed: <span>{{ mapGeneratorSettings.seed }}</span></label>
  <input type="range" name="seed" min="0" [max]="MAP_SEED_RANGE" step="1" [(ngModel)]="mapGeneratorSettings.seed">

  <label>Width: <span>{{ mapGeneratorSettings.width }}</span></label>
  <input type="range" name="width" min="20" max="200" step="1" [(ngModel)]="mapGeneratorSettings.width">

  <label>Height: <span>{{ mapGeneratorSettings.height }}</span></label>
  <input type="range" name="height" min="20" max="120" step="1" [(ngModel)]="mapGeneratorSettings.height">

  <label>Landmass: <span>{{ mapGeneratorSettings.landmass | landmassAmountName }}</span></label>
  <input type="range" name="landmass" min="0" max="4" step="1" [(ngModel)]="mapGeneratorSettings.landmass">

  <label>Continents: <span>{{ mapGeneratorSettings.continents }}</span></label>
  <input type="range" name="continents" min="1" max="24" step="1" [(ngModel)]="mapGeneratorSettings.continents">

  <label>Islands: <span>{{ mapGeneratorSettings.islands }}</span></label>
  <input type="range" name="islands" min="0" max="32" step="1" [(ngModel)]="mapGeneratorSettings.islands">

  <label>Archipelagos: <span>{{ mapGeneratorSettings.archipelagos }}</span></label>
  <input type="range" name="archipelagos" min="0" max="32" step="1" [(ngModel)]="mapGeneratorSettings.archipelagos">

  <label>World age: <span>{{ mapGeneratorSettings.worldAge | worldAgeName }}</span></label>
  <input type="range" name="worldAge" min="0" max="2" step="1" [(ngModel)]="mapGeneratorSettings.worldAge">

  <label>Temperature: <span>{{ mapGeneratorSettings.temperature | temperatureName }}</span></label>
  <input type="range" name="temperature" min="0" max="2" step="1" [(ngModel)]="mapGeneratorSettings.temperature">

  <label>Rainfall: <span>{{ mapGeneratorSettings.rainfall | rainfallName }}</span></label>
  <input type="range" name="rainfall" min="0" max="2" step="1" [(ngModel)]="mapGeneratorSettings.rainfall">

  <button type="button" class="float-right" (click)="onGenerateGameMapClick()">Generate map</button>
</form>
