<form>
  <h3>Generate map</h3>
  <label>Map size</label>
  <select name="mapConfigurationId" [ngModel]="mapSizeId" (change)="onMapSizeIdChange($event.target.value)">
    <option *ngFor="let mapSizeSettings of MAP_SIZE_SETTINGS_LIST" [value]="mapSizeSettings.id">{{ mapSizeSettings.name }}</option>
  </select>
  <label>Width: <span>{{ mapGeneratorSettings.width }}</span></label>
  <input type="range" name="width" min="20" max="200" step="1" [(ngModel)]="mapGeneratorSettings.width" disabled>
  <label>Height: <span>{{ mapGeneratorSettings.height }}</span></label>
  <input type="range" name="height" min="20" max="120" step="1" [(ngModel)]="mapGeneratorSettings.height" disabled>
  <label>Continents: <span>{{ mapGeneratorSettings.continents }}</span></label>
  <input type="range" name="continents" min="1" max="10" step="1" [(ngModel)]="mapGeneratorSettings.continents" disabled>
  <label>Islands: <span>{{ mapGeneratorSettings.islands }}</span></label>
  <input type="range" name="islands" min="0" max="30" step="1" [(ngModel)]="mapGeneratorSettings.islands" disabled>
  <label>Landmass: <span>{{ mapGeneratorSettings.landmass }}</span></label>
  <input type="range" name="landmass" min="0" max="4" step="1" [(ngModel)]="mapGeneratorSettings.landmass" disabled>
  <label>World age: <span>{{ mapGeneratorSettings.worldAge }}</span></label>
  <input type="range" name="worldAge" min="0" max="2" step="1" [(ngModel)]="mapGeneratorSettings.worldAge" disabled>
  <label>Temperature: <span>{{ mapGeneratorSettings.temperature }}</span></label>
  <input type="range" name="temperature" min="0" max="2" step="1" [(ngModel)]="mapGeneratorSettings.temperature" disabled>
  <label>Rainfall: <span>{{ mapGeneratorSettings.rainfall }}</span></label>
  <input type="range" name="rainfall" min="0" max="2" step="1" [(ngModel)]="mapGeneratorSettings.rainfall" disabled>
  <button type="button" class="float-right" (click)="onGenerateGameMapClick()">Generate map</button>
</form>
