@import '../../../../../../../../styles/mixins';
@import '../../../../../../../../styles/variables';

.performance-chart-component {
  padding: 10px;

  h3 {
    margin-bottom: 10px;
  }

  form {
    button {
      width: 175px;
      text-align: center;
      padding: 5px 10px;
      margin-bottom: 10px;
      cursor: pointer;

      &:nth-of-type(2n+1) {
        margin-right: 10px;
      }

      &.active {
        border: 3px solid #0075ff;
      }

    }
  }

  canvas {
    background: rgba(11, 62, 11, 0.79);
  }

}
