@import '../../../styles/mixins';
@import '../../../styles/variables';

.main-menu-component {
  @include position-block(absolute, 0, 0, 0, 0, $z-index-main-menu);
  background: #2e5878;

  .game-title {
    @include position-top-left(absolute, 200px, 0);
    width: 100%;
    @include font($font-family-secondary, #eff9fd, 100px, 68px, 400, center, uppercase);
    letter-spacing: 10px;
    text-shadow: 0 5px 9px #0007;
    @include disable-selection;
    //&:after {
    //  content: 'VI';
    //  @include position-block(absolute, 0, 0, 0, auto, 1);
    //  -webkit-background-clip: text;
    //  -webkit-text-fill-color: transparent;
    //  background-image: linear-gradient(to bottom, #96cae7 20%, #52a5d5 80%);
    //}
  }

  .primary-menu,
  .secondary-menu {
    position: absolute;
    top: 50%;
    width: $in-game-menu-button-width;
    transition: .3s all ease-in-out;
  }

  .primary-menu {
    left: calc(50% - #{$in-game-menu-button-width / 2});
    &.active {
      left: calc(50% - #{$in-game-menu-button-width} - #{$in-game-menu-button-height / 2});
    }
  }

  .secondary-menu {
    left: calc(50% + #{$in-game-menu-button-width / 2} + #{$in-game-menu-button-height / 2});
    opacity: 0;
    &.active{
      left: calc(50% + #{$in-game-menu-button-height / 2});
      opacity: 1;
    }
  }

  .primary-menu-item,
  .secondary-menu-item {
    @include in-game-menu-button;
  }

}
